aiohttp==3.9.5
aiosqlite==0.20.0
python-telegram-bot==21.0.1
beautifulsoup4==4.12.3
requests==2.32.3
phonenumbers==8.13.35
validators==0.28.1
cryptography==42.0.7
dnspython==2.6.1
whois==0.9.4
nest-asyncio==1.6.0
uvloop==0.19.0
